# DATABASE CONFIGURATIONS FOR LOCAL DEVELOPEMENT USED POSTGRES SQL
WHICH_DB='UR DB NAME EX- MYSQL OR PSQL'
DB_NAME='DATABASE NAME '
DB_USER='DB_ROOT USER'
DB_PASSWORD='DB_PASSWORD'
DB_PORT='DEFAULT PORT'